<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Styleguide | {% block title %}App{% endblock %}</title>
    <meta name="robots" content="noindex,nofollow">

    <!-- build:styleguide-css -->
    <link rel="stylesheet" href="/bundles/app/css/app.0.0.0.css">
    <link rel="stylesheet" href="/bundles/app/css/styleguide.0.0.0.css">
    <!-- endbuild -->
</head>

<body id="app" ng-app="ui.saagie">

    <div class="sg-l-container">
        <div class="sg-l-navbar">
            <div class="sg-l-navbar__logo">
                <img src="{{ asset('bundles/app/assets/styleguide/images/logo-styleguide.svg') }}"
                     alt="">
            </div>
            <ul class="sg-l-navbar__nav">
                {% for section in sgSections %}
                    <li>
            <span>
              {{ section.title }}
            </span>
                    </li>
                    {% for page in section.pages %}
                        <li><a href="#/{{ section.slug }}/{{ page.slug }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="sg-l-main">


            <div class="sg-l-main__intro">
                <h1 class="sg-l-main__intro-title">
                    Styleguide
                </h1>
                <p>
                    Saagie UI Styleguide. Provide documentation for UI parts.
                </p>
            </div>


            {% for section in sgSections %}
                <div class="sg-l-section">
                    <h2 class="sg-l-section__title">
                        {{ section.title }}
                    </h2>
                    {% for page in section.pages %}
                        <div class="sg-l-page" id="/{{ section.slug }}/{{ page.slug }}">
                            <h3 class="sg-l-page__title">
                                <small>{{ section.title }}</small>
                                {{ page.title }}
                            </h3>
                            <div class="sg-l-page__content">
                                {{ include('AppBundle:Styleguide/pages/' ~ section.slug ~ ':' ~ page.slug ~ '.html.twig') }}
                            </div>
                            <hr>
                            <p class="u-text-center">
                                <a href="#" class="o-button">Back to top</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- build:styleguide-js -->
    <script src="/bundles/app/js/bower.0.0.0.js"></script>
    <script src="/bundles/app/js/saagie-ui.0.0.0.js"></script>
    <!-- endbuild -->
</body>
</html>