<div class="g-row as--gutter-bottom">
    <div class="g-col as--{{ sgLeftWidth|default('1_2') }}@xl {{ sgLeftExtraClass|default('') }}">
        <div class="g-col__inner">
            {{ block('sgCode')|replace({
                '[m]': '',
                '[/m]': '',
                '[...]': '',
                '[/...]': '',
                '[hide]': '',
                '[/hide]': ''
            })|raw }}
        </div>
    </div>
    <div class="g-col  as--{{ sgRightWidth|default('1_2') }}@xl {{ sgRightExtraClass|default('') }}">
        <div class="g-col__inner">
            <pre><code>{{ block('sgCode')|e|trim|replace({
                        '[m]': '<mark>',
                        '[/m]': '</mark>',
                        '&lt;!--': '<em>&lt;!--',
                        '--&gt;': '--&gt;</em>',
                        '[...]': '<span class="sg-code-ellipsis"><span>',
                        '[/...]': '</span></span>',
                        '[hide]': '<span class="sg-code-hide">',
                        '[/hide]': '</span>'
                    })|raw }}</code></pre>
        </div>
    </div>
</div>